@model Client

<h1>Confirm Delete</h1>

<h3>Are you sure that you want to delete @Model.FirstName @Model.LastName?</h3>

<form asp-action="Destroy" asp-route-id="@Model.Id" >
    <button type="submit" class="btn btn-danger">Delete Contact</button>
    <a asp-action="Index">Cancel</a>
</form>